section.index-categories
    .container
        h2.index-categories__title Vybrané kategórie
        .row

            .col-12.col-sm-6.col-md-6.col-lg-4.col-xl-4.index-categories__single-wrap
                .index-categories__single
                    .index-categories__img-wrap
                        img.lazy.index-categories__img(src=URLbase+"img/placeholder-280x280.png" data-src=URLbase+"img/product-thumb-medium.jpg" alt="#" title="#")
                    .index-categories__content
                        h3.index-categories__single-title Detská obuv
                        .index-categories__wrap
                            a.index-categories__link(href="#") #[span.caret-icon.right.index-categories__caret] Lorem ipsumm
                            a.index-categories__link(href="#") #[span.caret-icon.right.index-categories__caret] Sed ut perspiciatis
                            a.index-categories__link(href="#") #[span.caret-icon.right.index-categories__caret] Unde omnis
                            a.index-categories__link(href="#") #[span.caret-icon.right.index-categories__caret] Iste natus error
                            a.index-categories__link(href="#") #[span.caret-icon.right.index-categories__caret] Consectetur adipiscing elit

            .col-12.col-sm-6.col-md-6.col-lg-4.col-xl-4.index-categories__single-wrap
                .index-categories__single
                    .index-categories__img-wrap
                        img.lazy.index-categories__img(src=URLbase+"img/placeholder-280x280.png" data-src=URLbase+"img/product-thumb-medium.jpg" alt="#" title="#")
                    .index-categories__content
                        h3.index-categories__single-title Dámska obuv
                        .index-categories__wrap
                            a.index-categories__link(href="#") #[span.caret-icon.right.index-categories__caret] Lorem ipsumm
                            a.index-categories__link(href="#") #[span.caret-icon.right.index-categories__caret] Sed ut perspiciatis
                            a.index-categories__link(href="#") #[span.caret-icon.right.index-categories__caret] Unde omnis
                            a.index-categories__link(href="#") #[span.caret-icon.right.index-categories__caret] Iste natus error
                            a.index-categories__link(href="#") #[span.caret-icon.right.index-categories__caret] Consectetur adipiscing elit

            .col-12.col-sm-6.col-md-6.col-lg-4.col-xl-4.index-categories__single-wrap
                .index-categories__single
                    .index-categories__img-wrap
                        img.lazy.index-categories__img(src=URLbase+"img/placeholder-280x280.png" data-src=URLbase+"img/product-thumb-medium.jpg" alt="#" title="#")
                    .index-categories__content
                        h3.index-categories__single-title Mayoral
                        .index-categories__wrap
                            a.index-categories__link(href="#") #[span.caret-icon.right.index-categories__caret] Lorem ipsumm
                            a.index-categories__link(href="#") #[span.caret-icon.right.index-categories__caret] Sed ut perspiciatis
                            a.index-categories__link(href="#") #[span.caret-icon.right.index-categories__caret] Unde omnis
                            a.index-categories__link(href="#") #[span.caret-icon.right.index-categories__caret] Iste natus error
                            a.index-categories__link(href="#") #[span.caret-icon.right.index-categories__caret] Consectetur adipiscing elit
