doctype html
include _variables.pug  
html(lang=lang)
    head
        meta(charset="utf-8")
        meta(content="IE=edge" http-equiv="X-UA-Compatible")
        meta(content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport")
        title #{title}
        meta(content="index,follow,snippet,archive" name="robots")
        meta(content=metaDescription name="description")
        meta(content=metaKeywords lang="cs" name="keywords")
        meta(content=metaAuthor name="author")

        link(rel="canonical" href=metaURL)
        meta(property="og:locale" content="cs_CZ")
        meta(property="og:type" content="website")
        meta(property="og:title" content=title)
        meta(property="og:description" content=metaDescription)
        meta(property="og:url" content=metaURL)
        meta(property="og:site_name" content=metaSitename)
        meta(name="twitter:card" content="summary")
        meta(name="twitter:site" content=metaTwitterName)
        meta(name="twitter:title" content=title)
        meta(name="twitter:description" content=metaDescription)
        meta(name="twitter:image" content=metaTwitterImg)
        include _css-include.pug  
    body
        include _nav.pug
        section.hero
            .container.hero__container
                .hero__swiper
                    .hero__swiper-wrap
                        .swiper-wrapper.hero__swiper-wrapper
                        
                            .swiper-slide.hero__swiper-slide
                                .hero__content.post__image-container
                                    img.swiper-lazy.hero__imgpost__featured-image(src=URLbase+"img/hero-1.jpg")
                                    .swiper-lazy-preloader.swiper-lazy-preloader-white
                            .swiper-slide.hero__swiper-slide
                                .hero__content.post__image-container
                                    img.swiper-lazy.hero__imgpost__featured-image(src=URLbase+"img/hero-2.jpg")
                                    .swiper-lazy-preloader.swiper-lazy-preloader-white
                            .swiper-slide.hero__swiper-slide
                                .hero__content.post__image-container
                                    img.swiper-lazy.hero__imgpost__featured-image(src=URLbase+"img/hero-1.jpg")
                                    .swiper-lazy-preloader.swiper-lazy-preloader-white

                        .swiper-pagination.swiper-pagination-white.swiper-pagination--hero
                    .swiper-button-prev.swiper-button-prev--hero
                    .swiper-button-next.swiper-button-next--hero 


        section.benefits
            .container.benefits__container
                .row.benefits__row
                    a.benefits__single(href="#")
                        .benefits__single-wrap.post__image-container
                            img.post__featured-image.benefits__img(src=URLbase+"img/benefits-velikost.jpg")
                            p.benefits__text Ako merať velikost?

                    a.benefits__single(href="#")
                        .benefits__single-wrap.post__image-container
                            img.post__featured-image.benefits__img(src=URLbase+"img/benefits-nakupovat.jpg")
                            p.benefits__text Prečo u nás nakupovať

                    a.benefits__single(href="#")
                        .benefits__single-wrap.post__image-container
                            img.post__featured-image.benefits__img(src=URLbase+"img/benefits-tabulky.jpg")
                            p.benefits__text Veľkostné tabuľky

                    a.benefits__single(href="#")
                        .benefits__single-wrap.post__image-container
                            img.post__featured-image.benefits__img(src=URLbase+"img/benefits-doprava.jpg")
                            p.benefits__text #[span Doprava zadarmo] pri nákupu #[br] nad 100 €


        include _index-categories.pug

        section.index-products
            .container  
                h2.index-products__title Novinky detská obuv 
                .swiper-container-4-products-wrap   
                    .swiper-container-index1.swiper-container-index 
                        .swiper-wrapper
                            .swiper-slide
                                include _single-product-cell-small.pug
                            .swiper-slide
                                include _single-product-cell-small.pug
                            .swiper-slide
                                include _single-product-cell-small.pug
                            .swiper-slide
                                include _single-product-cell-small.pug
                            .swiper-slide
                                include _single-product-cell-small.pug
                            .swiper-slide
                                include _single-product-cell-small.pug

                        .swiper-pagination.swiper-pagination--index1
                    .swiper-button-prev.swiper-button-prev--index1
                    .swiper-button-next.swiper-button-next--index1


        section.index-products
            .container  
                h2.index-products__title Novinky dámska obuv 
                .swiper-container-4-products-wrap     
                    .swiper-container-index2.swiper-container-index 
                        .swiper-wrapper
                            .swiper-slide
                                include _single-product-cell-small.pug
                            .swiper-slide
                                include _single-product-cell-small.pug
                            .swiper-slide
                                include _single-product-cell-small.pug
                            .swiper-slide
                                include _single-product-cell-small.pug
                            .swiper-slide
                                include _single-product-cell-small.pug
                            .swiper-slide
                                include _single-product-cell-small.pug

                        .swiper-pagination.swiper-pagination--index2
                    .swiper-button-prev.swiper-button-prev--index2
                    .swiper-button-next.swiper-button-next--index2


        section.index-products
            .container  
                h2.index-products__title Novinky Mayoral
                .swiper-container-4-products-wrap     
                    .swiper-container-index3.swiper-container-index 
                        .swiper-wrapper
                            .swiper-slide
                                include _single-product-cell-small.pug
                            .swiper-slide
                                include _single-product-cell-small.pug
                            .swiper-slide
                                include _single-product-cell-small.pug
                            .swiper-slide
                                include _single-product-cell-small.pug
                            .swiper-slide
                                include _single-product-cell-small.pug
                            .swiper-slide
                                include _single-product-cell-small.pug

                        .swiper-pagination.swiper-pagination--index3
                    .swiper-button-prev.swiper-button-prev--index3
                    .swiper-button-next.swiper-button-next--index3

        include _news-section.pug

        #fb-root        
        script.
            (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = 'https://connect.facebook.net/cs_CZ/sdk.js#xfbml=1&version=v2.12';
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));


        section.index-about
            .container.index-about__container
                .index-about__col
                    figure.index-about__figure
                        img.lazy(src=URLbase+"img/about-img.jpg" data-src=URLbase+"img/about-img.jpg" alt="#" title="#")
                        figcaption.index-about__figcaption Foto: Naše kamenná predajňa
                .index-about__col
                    h3.index-about__title O nás
                    p.index-about__text Od roku 2000 predávame zväčša celokoženú taliansku obuv, či už extravagantnú alebo klasickú. V dnešnej dobe je dopyt aj po lacnejšej módnej obuvi zo syntetiky, takže aj takúto u nás nájdete. 
                    p.index-about__text Internetovému predaju sa venujeme cca od r. 2005, behom ktorých sme získali veľa cenných skúseností dôležitých pri predaji či už obuvi detskej alebo dámskej.
                    a.index-about__link(href="#") Více o nás...
                .index-about__col  
                    .fb-page(data-href="https://www.facebook.com/obuvkovo/" data-tabs="timeline" data-small-header="true" data-width="300" data-height="300" data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="true")
                            blockquote.fb-xfbml-parse-ignore(cite="https://www.facebook.com/obuvkovo/")
                                a(href="https://www.facebook.com/obuvkovo/") obuvkovo.sk - mayoral




        include _footer.pug

        include _js-include.pug

        script.
            var carousel_main = new Swiper('.hero__swiper-wrap', {
            lazy: true,
            spaceBetween: 0,
            grabCursor: true,
            zoom: false,
            loop: true,
            pagination: {
                el: '.swiper-pagination--hero',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next--hero',
                prevEl: '.swiper-button-prev--hero',
            },
            });

            $('#slide1').click(carousel_main,function(){
                carousel_main.slideTo(1);
            })
            $('#slide2').click(carousel_main,function(){
                carousel_main.slideTo(2);
            })
            $('#slide3').click(carousel_main,function(){
                carousel_main.slideTo(3);
            })
            $('#slide4').click(carousel_main,function(){
                carousel_main.slideTo(4);
            })

            $(".hero__tab-single").click(function() {
                if ($(".hero__tab-single").removeClass("active")) {
                    $(this).removeClass("active");
                }
                $(this).addClass("active");
            });