doctype html
include _variables.pug  
html(lang=lang)
    head
        meta(charset="utf-8")
        meta(content="IE=edge" http-equiv="X-UA-Compatible")
        meta(content="width=device-width, initial-scale=1" name="viewport")
        title #{title}
        meta(content="index,follow,snippet,archive" name="robots")
        meta(content=metaDescription name="description")
        meta(content=metaKeywords lang="cs" name="keywords")
        meta(content=metaAuthor name="author")
        meta(content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport")

        link(rel="canonical" href=metaURL)
        meta(property="og:locale" content="cs_CZ")
        meta(property="og:type" content="website")
        meta(property="og:title" content=title)
        meta(property="og:description" content=metaDescription)
        meta(property="og:url" content=metaURL)
        meta(property="og:site_name" content=metaSitename)
        meta(name="twitter:card" content="summary")
        meta(name="twitter:site" content=metaTwitterName)
        meta(name="twitter:title" content=title)
        meta(name="twitter:description" content=metaDescription)
        meta(name="twitter:image" content=metaTwitterImg)
        include _css-include.pug  
    body
        include _nav.pug
        section.page-heading.page-heading--cart
            .container.page-heading--cart__container
                .page-heading--cart__wrap
                    a.page-heading--cart__single.active(href="#")
                        p.page-heading--cart__title 1. Nákupný košík
                    a.page-heading--cart__single(href="#")
                        p.page-heading--cart__title 2. Osobné údaje
                    a.page-heading--cart__single(href="#")
                        p.page-heading--cart__title 3. Súhrn objednávky
                    a.page-heading--cart__single(href="#")
                        p.page-heading--cart__title 4. Dokončenie objednávky

        section.page-heading.page-heading--cart-responsive
            a.page-heading--cart__control(href="#")
                span.caret-icon.left.disabled
            p.page-heading--cart__title 1/4 Nákupný košík
            a.page-heading--cart__control(href="#")
                span.caret-icon.right
        .page-heading--cart-responsive-push

        main
            .container
                form(method="post" action="" name="cart_form")
                    .row.cart-item-top
                        .cart-item-top__col-1
                            .cart-item-top__img
                                p.cart-item-top__heading Produkt
                        .cart-item-top__col-2
                            .cart-item-top__name
                            .cart-item-top__inner
                                .cart-item-top__qty
                                    p.cart-item-top__heading Počet kusov
                                .cart-item-top__price
                                    p.cart-item-top__heading Cena za kus
                                .cart-item-top__sum
                                    p.cart-item-top__heading Cena celkom
                                .cart-item-top__delete


                    .row.cart-item-single
                        .cart-item-single__col-1  
                            .cart-item-single__thumb-wrap
                                .cart-item-single__thumb
                                    img.cart-item-single__img.lazy(src="http://via.placeholder.com/200x200" data-src=URLbase+"img/product-thumb-small.jpg")


                        .cart-item-single__col-2   
                            .cart-item-single__name-wrap
                                a.cart-item-single__name(href="#") #{ProductName}
                                p.cart-item-single__stock Dostupné skladOm   

                            .cart-item-single__inner    
                                .cart-item-single__qty-wrap 
                                    .cart-item-single__qty
                                        .number-stepper.number-stepper--small
                                            input.number-stepper__input(type="number" min="1" max="99" value="1" name="cart-item-single-qty" id="")
                                            .number-stepper__btn-up
                                                span.number-stepper__icon-up
                                            .number-stepper__btn-down
                                                span.number-stepper__icon-down

                                .cart-item-single__price-wrap
                                    span.cart-item-single__price-old 45.00 €
                                    p.cart-item-single__price 29.00 €
                                .cart-item-single__sum-wrap
                                    p.cart-item-single__sum #[span 29] €
                                .cart-item-single__delete-wrap
                                    a.cart-item-single__delete(href="#")
                                        span.cross-icon.cart-item-single__delete-icon


                    .row.cart-item-single
                        .cart-item-single__col-1  
                            .cart-item-single__thumb-wrap
                                .cart-item-single__thumb
                                    img.cart-item-single__img.lazy(src="http://via.placeholder.com/200x200" data-src=URLbase+"img/product-thumb-small.jpg")

                        .cart-item-single__col-2   
                            .cart-item-single__name-wrap
                                a.cart-item-single__name(href="#") #{ProductName}
                                p.cart-item-single__stock Dostupné skladOm   

                            .cart-item-single__inner    
                                .cart-item-single__qty-wrap 
                                    .cart-item-single__qty
                                        .number-stepper.number-stepper--small
                                            input.number-stepper__input(type="number" min="1" max="99" value="1" name="cart-item-single-qty" id="")
                                            .number-stepper__btn-up
                                                span.number-stepper__icon-up
                                            .number-stepper__btn-down
                                                span.number-stepper__icon-down

                                .cart-item-single__price-wrap
                                    span.cart-item-single__price-old 45.00 €
                                    p.cart-item-single__price 29.00 €
                                .cart-item-single__sum-wrap
                                    p.cart-item-single__sum #[span 29] €
                                .cart-item-single__delete-wrap
                                    a.cart-item-single__delete(href="#")
                                        span.cross-icon.cart-item-single__delete-icon

                    .cart-price-overview
                        p.cart-price-overview__text Celková cena s DPH
                        h3.cart-price-overview__price #[span.cart-price-overview__number 16 989] Kč

                    .cart-free-shipping
                        .cart-free-shipping__img
                            span.delivery-icon
                        p.cart-free-shipping__text Pri nákupe nad 100 € doprava zadarmo

                    .form-group.cart-shipping-option
                        h3 Výber dopravy a platby
                        .form-check
                            label.form-check__label
                                input.form-check__input(type="radio" name="cart_form_shipping" id="osobni" required)
                                |  platba vopred na účet do hodnoty 10 eur Slov. poštou
                                span.form-check__description 
                                span.form-check__price 2.00 €
                                span.form-check__box.radio

                        .form-check
                            label.form-check__label
                                input.form-check__input(type="radio" name="cart_form_shipping" id="cp" required)
                                | platba vopred na účet kuriér GLS
                                span.form-check__description
                                span.form-check__price 3.00 €
                                span.form-check__box.radio

                        .form-check
                            label.form-check__label
                                input.form-check__input(type="radio" name="cart_form_shipping" id="ppl" required)
                                | platba vopred na účet do hodnoty nad 10 eur Slov. poštou
                                span.form-check__description 
                                span.form-check__price 3.30 €
                                span.form-check__box.radio

                        .form-check
                            label.form-check__label
                                input.form-check__input(type="radio" name="cart_form_shipping" id="ppl2" required)
                                | dobierka GLS kurier
                                span.form-check__description 
                                span.form-check__price 4.00 €
                                span.form-check__box.radio

                        .form-check
                            label.form-check__label
                                input.form-check__input(type="radio" name="cart_form_shipping" id="ppl3" required)
                                | doručenie do Českej republiky službou GLS - platba vopred na účet
                                span.form-check__description
                                span.form-check__price 4.00 €
                                span.form-check__box.radio

                        .form-check
                            label.form-check__label
                                input.form-check__input(type="radio" name="cart_form_shipping" id="ppl4" required)
                                | Osobný odber - ZDARMA
                                span.form-check__description
                                span.form-check__price 0 €
                                span.form-check__box.radio




                    .cart-user-note
                        h3.cart-user-note__title Poznámka k objednávce
                        .row
                            .col-12.col-xs-12.col-sm-6.col-md-6.col-lg-6
                                .form-group
                                    textarea.form-control(name="cart-form-note" rows="5")
                            .col-12.col-xs-12.col-sm-6.col-md-6.col-lg-6
                                p Chcete nám povedať ešte nejakú dôležitú správu k vašej objednávke? Využite prosím, tohto formulára.
                                p Napísať do neho môžete tiež upresňujúce informácie o mieste, kam máme Váš tovar doručiť (najbližší orientačný bod a pod.)

                    .cart-bottom-btns
                        a.btn.btn-dark(href="#") #[span.btn__icon.arrow-icon.left.white] Späť do obchodu
                        a.btn.btn-ghost(href="#") #[span.btn__icon.cross-icon] Vyprázdniť košík
                        button.btn(type="submit" id="delivery-form-submit") Osobné údaje #[span.btn__icon.arrow-icon.white]      
                               

            .cart-price-overview-responsive
                .cart-price-overview-responsive__price-wrap
                    p.cart-price-overview-responsive__text Celková cena s DPH
                    h3.cart-price-overview-responsive__price #[span 16 989] Kč
                .cart-price-overview-responsive__btn-wrap
                    button.btn.cart-price-overview-responsive__btn(onclick="$('#delivery-form-submit').trigger('click');") Osobné údaje #[span.btn__icon.arrow-icon.white]  


        include _footer.pug

        include _js-include.pug