doctype html
include _variables.pug  
html(lang=lang)
    head
        meta(charset="utf-8")
        meta(content="IE=edge" http-equiv="X-UA-Compatible")
        meta(content="width=device-width, initial-scale=1" name="viewport")
        title #{title}
        meta(content="index,follow,snippet,archive" name="robots")
        meta(content=metaDescription name="description")
        meta(content=metaKeywords lang="cs" name="keywords")
        meta(content=metaAuthor name="author")
        meta(content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport")

        link(rel="canonical" href=metaURL)
        meta(property="og:locale" content="cs_CZ")
        meta(property="og:type" content="website")
        meta(property="og:title" content=title)
        meta(property="og:description" content=metaDescription)
        meta(property="og:url" content=metaURL)
        meta(property="og:site_name" content=metaSitename)
        meta(name="twitter:card" content="summary")
        meta(name="twitter:site" content=metaTwitterName)
        meta(name="twitter:title" content=title)
        meta(name="twitter:description" content=metaDescription)
        meta(name="twitter:image" content=metaTwitterImg)
        include _css-include.pug  
    body
        include _nav.pug
        section.page-heading.post__image-container
            .container
                h1.page-heading__title Poradna
            img.lazy.post__featured-image(src=URLbase+"img/lazy/lazy-news-thumb-large.jpg" data-src=URLbase+"img/news-thumb-large.jpg" alt="#" title="#")

        include _breadcrumb.pug

        main
            .container
                include _pagination.pug
                .forum-button

                .forum-post
                    .forum-post__question
                        h3.forum-post__heading #[span Otázka:] JBL ES 250 PW
                        .forum-post__info
                            span.forum-post__author #[span Autor:] René
                            span.forum-post__date #[span Datum:] 20.02.2018
                        p.forum-post__text Dobrý den nevíte kde bych mohl sehnat bezdrátový subwoofer JBL ES 250 PW.Mám doma sloupové repro JBL ES 90 a právě k nim tento subwoofer sháním. Děkuji za odpověď.

                    .forum-post__answer
                        h3.forum-post__heading #[span Odpověď:] JBL ES 250 PW
                        .forum-post__info
                            span.forum-post__author #[span Autor:] Admin
                            span.forum-post__date #[span Datum:] 20.02.2018
                        p.forum-post__text Dobrý den nevíte kde bych mohl sehnat bezdrátový subwoofer JBL ES 250 PW.Mám doma sloupové repro JBL ES 90 a právě k nim tento subwoofer sháním. Děkuji za odpověď.         


                .forum-post
                    .forum-post__question
                        h3.forum-post__heading #[span Otázka:] JBL ES 250 PW
                        .forum-post__info
                            span.forum-post__author #[span Autor:] René
                            span.forum-post__date #[span Datum:] 20.02.2018
                        p.forum-post__text Dobrý den nevíte kde bych mohl sehnat bezdrátový subwoofer JBL ES 250 PW.Mám doma sloupové repro JBL ES 90 a právě k nim tento subwoofer sháním. Děkuji za odpověď.

                    .forum-post__answer
                        h3.forum-post__heading #[span Odpověď:] JBL ES 250 PW
                        .forum-post__info
                            span.forum-post__author #[span Autor:] Admin
                            span.forum-post__date #[span Datum:] 20.02.2018
                        p.forum-post__text Dobrý den nevíte kde bych mohl sehnat bezdrátový subwoofer JBL ES 250 PW.Mám doma sloupové repro JBL ES 90 a právě k nim tento subwoofer sháním. Děkuji za odpověď. 
                        

                .forum-post
                    .forum-post__question
                        h3.forum-post__heading #[span Otázka:] JBL ES 250 PW
                        .forum-post__info
                            span.forum-post__author #[span Autor:] René
                            span.forum-post__date #[span Datum:] 20.02.2018
                        p.forum-post__text Dobrý den nevíte kde bych mohl sehnat bezdrátový subwoofer JBL ES 250 PW.Mám doma sloupové repro JBL ES 90 a právě k nim tento subwoofer sháním. Děkuji za odpověď.

                    .forum-post__answer
                        h3.forum-post__heading #[span Odpověď:] JBL ES 250 PW
                        .forum-post__info
                            span.forum-post__author #[span Autor:] Admin
                            span.forum-post__date #[span Datum:] 20.02.2018
                        p.forum-post__text Dobrý den nevíte kde bych mohl sehnat bezdrátový subwoofer JBL ES 250 PW.Mám doma sloupové repro JBL ES 90 a právě k nim tento subwoofer sháním. Děkuji za odpověď.                   


                include _pagination.pug

                .forum-form
                    h3.forum-form__heading Položit otázku
                    form(method="post" action="" name="forum_form")
                        .form-group
                            label(for="forum_form_name") Jméno a příjmení
                            input.form-control(type="text" name="forum_form_name" id="forum_form_name" autocomplete="name" required)
                        .form-group
                            label(for="forum_form_email") Emailová adresa
                            input.form-control(type="email" name="forum_form_email" id="forum_form_email" autocomplete="email" required)
                        .form-group
                            label(for="forum_form_subject") Předmět
                            input.form-control(type="text" name="forum_form_subject" id="forum_form_subject" autocomplete="subject" required)
                        .form-group
                            label(for="forum_form_text") Text dotazu
                            textarea.form-control(name="forum_form_text" id="forum_form_text" rows="5" autocomplete="question" required)
                        .form-group
                            button.form-control.btn(type="submit" name="forum_form_submit" id="forum_form_submit") Odeslat dotaz

        include _news-section.pug
        
        include _footer.pug

        include _js-include.pug