doctype html
include _variables.pug  
html(lang=lang)
    head
        meta(charset="utf-8")
        meta(content="IE=edge" http-equiv="X-UA-Compatible")
        meta(content="width=device-width, initial-scale=1" name="viewport")
        title #{title}
        meta(content="index,follow,snippet,archive" name="robots")
        meta(content=metaDescription name="description")
        meta(content=metaKeywords lang="cs" name="keywords")
        meta(content=metaAuthor name="author")
        meta(content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport")

        link(rel="canonical" href=metaURL)
        meta(property="og:locale" content="cs_CZ")
        meta(property="og:type" content="website")
        meta(property="og:title" content=title)
        meta(property="og:description" content=metaDescription)
        meta(property="og:url" content=metaURL)
        meta(property="og:site_name" content=metaSitename)
        meta(name="twitter:card" content="summary")
        meta(name="twitter:site" content=metaTwitterName)
        meta(name="twitter:title" content=title)
        meta(name="twitter:description" content=metaDescription)
        meta(name="twitter:image" content=metaTwitterImg)
        include _css-include.pug  
    body
        include _nav.pug
        include _breadcrumb.pug

        section.page-heading.page-heading--category
            .container
                h1.page-heading--category__title Lorem ipsum dolor sit amet
                p.page-heading--category__subtitle-excerpt Sed ut perspiciatis unde omnis iste natus error... #[span.page-heading--category__toggle(data-toggle="collapse" href="#product-category-description" aria-expanded="false" aria-controls="product-category-description") Číst více]
                .collapse(id="product-category-description")
                    p.page-heading--category__subtitle sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?


        main
            .container  

                .product-category
                
                    .navbar-side
                        .navbar-side__single 
                            .navbar-side__heading
                                h4.navbar-side__title Detská obuv
                            .navbar-side__content            
                                ul.nav.nav-tabs.navbar-side__nav-tabs(role="tablist")
                                    li.nav-item.navbar-side__nav-item
                                        a.nav-link.navbar-side__nav-link.active.show(id="1-kategorie-tab" data-toggle="tab" href="#1-kategorie" role="tab" aria-controls="1-kategorie" aria-selected="true")
                                            img(src=URLbase+"images/shoe-icon.svg" alt="Kategorie" title="Kategorie")
                                    li.nav-item.navbar-side__nav-item
                                        a.nav-link.navbar-side__nav-link(id="1-vyrobcovia-tab" data-toggle="tab" href="#1-vyrobcovia" role="tab" aria-controls="1-vyrobcovia" aria-selected="false") Výrobcovia
                                    li.nav-item.navbar-side__nav-item
                                        a.nav-link.navbar-side__nav-link(id="1-velkosti-tab" data-toggle="tab" href="#1-velkosti" role="tab" aria-controls="1-velkosti" aria-selected="false") Velkosti
                                    li.nav-item.navbar-side__nav-item
                                        a.nav-link.navbar-side__nav-link(id="1-pohlavie-tab" data-toggle="tab" href="#1-pohlavie" role="tab" aria-controls="1-pohlavie" aria-selected="false") Pohlavie
                                                                                 
                                .tab-content
                                    .tab-pane.fade.show.active(id="1-kategorie" role="tabpanel" aria-labelledby="1-kategorie")
                                        a.navbar-side__link(href="#")
                                            .navbar-side__item Demar                 
                                        a.navbar-side__link(href="#")
                                            .navbar-side__item Vin - tex                     
                                        a.navbar-side__link(href="#")
                                            .navbar-side__item Asso   
                                        a.navbar-side__link(href="#")
                                            .navbar-side__item D.D. Step 
                                        a.navbar-side__link(href="#")
                                            .navbar-side__item Kornecki 
                                        a.navbar-side__link(href="#")
                                            .navbar-side__item Coqui  
                                        a.navbar-side__link(href="#")
                                            .navbar-side__item Iný 
                                        a.navbar-side__link(href="#") 
                                            .navbar-side__item Super gear
                                        a.navbar-side__link(href="#") 
                                            .navbar-side__item C - TEXI

                                    .tab-pane.fade(id="1-vyrobcovia" role="tabpanel" aria-labelledby="1-vyrobcovia-tab")
                                        a.navbar-side__link(href="#")
                                            .navbar-side__item Demar                 
                                        a.navbar-side__link(href="#")
                                            .navbar-side__item Vin - tex                     
                                        a.navbar-side__link(href="#")
                                            .navbar-side__item Asso   
                                        a.navbar-side__link(href="#")
                                            .navbar-side__item D.D. Step 
                                        a.navbar-side__link(href="#")
                                            .navbar-side__item Kornecki 
                                        a.navbar-side__link(href="#")
                                            .navbar-side__item Coqui  
                                        a.navbar-side__link(href="#")
                                            .navbar-side__item Iný 
                                        a.navbar-side__link(href="#") 
                                            .navbar-side__item Super gear
                                        a.navbar-side__link(href="#") 
                                            .navbar-side__item C - TEXI

                                    .tab-pane.fade(id="1-velkosti" role="tabpanel" aria-labelledby="1-velkosti-tab")
                                        a.navbar-side__link(href="#")
                                            .navbar-side__item Demar                 
                                        a.navbar-side__link(href="#")
                                            .navbar-side__item Vin - tex                     
                                        a.navbar-side__link(href="#")
                                            .navbar-side__item Asso   
                                        a.navbar-side__link(href="#")
                                            .navbar-side__item D.D. Step 
                                        a.navbar-side__link(href="#")
                                            .navbar-side__item Kornecki 
                                        a.navbar-side__link(href="#")
                                            .navbar-side__item Coqui  
                                        a.navbar-side__link(href="#")
                                            .navbar-side__item Iný 
                                        a.navbar-side__link(href="#") 
                                            .navbar-side__item Super gear
                                        a.navbar-side__link(href="#") 
                                            .navbar-side__item C - TEXI

                                    .tab-pane.fade(id="1-pohlavie" role="tabpanel" aria-labelledby="1-pohlavie-tab")
                                        a.navbar-side__link(href="#")
                                            .navbar-side__item Demar                 
                                        a.navbar-side__link(href="#")
                                            .navbar-side__item Vin - tex                     
                                        a.navbar-side__link(href="#")
                                            .navbar-side__item Asso   
                                        a.navbar-side__link(href="#")
                                            .navbar-side__item D.D. Step 
                                        a.navbar-side__link(href="#")
                                            .navbar-side__item Kornecki 
                                        a.navbar-side__link(href="#")
                                            .navbar-side__item Coqui  
                                        a.navbar-side__link(href="#")
                                            .navbar-side__item Iný 
                                        a.navbar-side__link(href="#") 
                                            .navbar-side__item Super gear
                                        a.navbar-side__link(href="#") 
                                            .navbar-side__item C - TEXI

                        .navbar-side__single 
                            .navbar-side__heading
                                h4.navbar-side__title Dámska obuv
                            .navbar-side__content            
                                ul.nav.nav-tabs.navbar-side__nav-tabs(role="tablist")
                                    li.nav-item.navbar-side__nav-item
                                        a.nav-link.navbar-side__nav-link.active.show(id="2-kategorie-tab" data-toggle="tab" href="#2-kategorie" role="tab" aria-controls="2-kategorie" aria-selected="true")
                                            img(src=URLbase+"images/shoe-icon.svg" alt="Kategorie" title="Kategorie")
                                    li.nav-item.navbar-side__nav-item
                                        a.nav-link.navbar-side__nav-link(id="2-vyrobcovia-tab" data-toggle="tab" href="#2-vyrobcovia" role="tab" aria-controls="2-vyrobcovia" aria-selected="false") Výrobcovia
                                    li.nav-item.navbar-side__nav-item
                                        a.nav-link.navbar-side__nav-link(id="2-velkosti-tab" data-toggle="tab" href="#2-velkosti" role="tab" aria-controls="2-velkosti" aria-selected="false") Velkosti
                                .tab-content
                                    .tab-pane.fade.show.active(id="2-kategorie" role="tabpanel" aria-labelledby="2-kategorie-tab")
                                        a.navbar-side__link(href="#")
                                            .navbar-side__item Demar                 
                                        a.navbar-side__link(href="#")
                                            .navbar-side__item Vin - tex                     
                                        a.navbar-side__link(href="#")
                                            .navbar-side__item Asso   
                                        a.navbar-side__link(href="#")
                                            .navbar-side__item D.D. Step 
                                        a.navbar-side__link(href="#")
                                            .navbar-side__item Kornecki 
                                        a.navbar-side__link(href="#")
                                            .navbar-side__item Coqui  
                                        a.navbar-side__link(href="#")
                                            .navbar-side__item Iný 
                                        a.navbar-side__link(href="#") 
                                            .navbar-side__item Super gear
                                        a.navbar-side__link(href="#") 
                                            .navbar-side__item C - TEXI

                                    .tab-pane.fade(id="2-vyrobcovia" role="tabpanel" aria-labelledby="2-vyrobcovia-tab")
                                        a.navbar-side__link(href="#")
                                            .navbar-side__item Demar                 
                                        a.navbar-side__link(href="#")
                                            .navbar-side__item Vin - tex                     
                                        a.navbar-side__link(href="#")
                                            .navbar-side__item Asso   
                                        a.navbar-side__link(href="#")
                                            .navbar-side__item D.D. Step 
                                        a.navbar-side__link(href="#")
                                            .navbar-side__item Kornecki 
                                        a.navbar-side__link(href="#")
                                            .navbar-side__item Coqui  
                                        a.navbar-side__link(href="#")
                                            .navbar-side__item Iný 
                                        a.navbar-side__link(href="#") 
                                            .navbar-side__item Super gear
                                        a.navbar-side__link(href="#") 
                                            .navbar-side__item C - TEXI

                                    .tab-pane.fade(id="2-velkosti" role="tabpanel" aria-labelledby="2-velkosti-tab")
                                        a.navbar-side__link(href="#")
                                            .navbar-side__item Demar                 
                                        a.navbar-side__link(href="#")
                                            .navbar-side__item Vin - tex                     
                                        a.navbar-side__link(href="#")
                                            .navbar-side__item Asso   
                                        a.navbar-side__link(href="#")
                                            .navbar-side__item D.D. Step 
                                        a.navbar-side__link(href="#")
                                            .navbar-side__item Kornecki 
                                        a.navbar-side__link(href="#")
                                            .navbar-side__item Coqui  
                                        a.navbar-side__link(href="#")
                                            .navbar-side__item Iný 
                                        a.navbar-side__link(href="#") 
                                            .navbar-side__item Super gear
                                        a.navbar-side__link(href="#") 
                                            .navbar-side__item C - TEXI

   

                        .navbar-side__single 
                            .navbar-side__heading
                                h4.navbar-side__title Mayoral
                            .navbar-side__content            
                                ul.nav.nav-tabs.navbar-side__nav-tabs(role="tablist")
                                    li.nav-item.navbar-side__nav-item
                                        a.nav-link.navbar-side__nav-link.active.show(id="3-kategorie-tab" data-toggle="tab" href="#3-kategorie" role="tab" aria-controls="3-kategorie" aria-selected="true")
                                            img(src=URLbase+"images/shoe-icon.svg" alt="Kategorie" title="Kategorie")
                                    li.nav-item.navbar-side__nav-item
                                        a.nav-link.navbar-side__nav-link(id="3-vyrobcovia-tab" data-toggle="tab" href="#3-vyrobcovia" role="tab" aria-controls="3-vyrobcovia" aria-selected="false") Výrobcovia
                               
                                .tab-content
                                    .tab-pane.fade.show.active(id="3-kategorie" role="tabpanel" aria-labelledby="3-kategorie-tab")
                                        a.navbar-side__link(href="#")
                                            .navbar-side__item Demar                 
                                        a.navbar-side__link(href="#")
                                            .navbar-side__item Vin - tex                     
                                        a.navbar-side__link(href="#")
                                            .navbar-side__item Asso   
                                        a.navbar-side__link(href="#")
                                            .navbar-side__item D.D. Step 
                                        a.navbar-side__link(href="#")
                                            .navbar-side__item Kornecki 
                                        a.navbar-side__link(href="#")
                                            .navbar-side__item Coqui  
                                        a.navbar-side__link(href="#")
                                            .navbar-side__item Iný 
                                        a.navbar-side__link(href="#") 
                                            .navbar-side__item Super gear
                                        a.navbar-side__link(href="#") 
                                            .navbar-side__item C - TEXI

                                    .tab-pane.fade(id="3-vyrobcovia" role="tabpanel" aria-labelledby="3-vyrobcovia-tab")
                                        a.navbar-side__link(href="#")
                                            .navbar-side__item Demar                 
                                        a.navbar-side__link(href="#")
                                            .navbar-side__item Vin - tex                     
                                        a.navbar-side__link(href="#")
                                            .navbar-side__item Asso   
                                        a.navbar-side__link(href="#")
                                            .navbar-side__item D.D. Step 
                                        a.navbar-side__link(href="#")
                                            .navbar-side__item Kornecki 
                                        a.navbar-side__link(href="#")
                                            .navbar-side__item Coqui  
                                        a.navbar-side__link(href="#")
                                            .navbar-side__item Iný 
                                        a.navbar-side__link(href="#") 
                                            .navbar-side__item Super gear
                                        a.navbar-side__link(href="#") 
                                            .navbar-side__item C - TEXI



   



                    .product-category__content
                        .top-products
                            .top-products__title-wrap
                                h2.top-products__title Nejprodávanější produkty
                            .swiper-container-4-products-wrap
                                .swiper-container-4-products 
                                    .swiper-wrapper
                                        .swiper-slide
                                            include _single-product-cell-top.pug
                                        .swiper-slide
                                            include _single-product-cell-top.pug
                                        .swiper-slide
                                            include _single-product-cell-top.pug
                                        .swiper-slide
                                            include _single-product-cell-top.pug
                                        .swiper-slide
                                            include _single-product-cell-top.pug
                                        .swiper-slide
                                            include _single-product-cell-top.pug
                                        .swiper-slide
                                            include _single-product-cell-top.pug
                                        .swiper-slide
                                            include _single-product-cell-top.pug
                                .swiper-button-prev.swiper-button-prev--4
                                .swiper-button-next.swiper-button-next--4

                        .filter-main
                            a.filter-main__collapse(data-toggle="collapse" href="#product-filter" aria-expanded="false" aria-controls="product-filter") Filtr produktů
                            .panel-collapse.collapse.filter-main__collapse-wrap(id="product-filter")   
                                form.filter-main__form(method="post" action="")

                                    .filter-main__single

                                        ul.nav.nav-tabs.filter-main__nav-tabs(role="tablist")
                                            li.nav-item.filter-main__nav-item
                                                a.nav-link.filter-main__nav-link.active.show(id="stitek-tab" data-toggle="tab" href="#stitek" role="tab" aria-controls="stitek" aria-selected="false") Štítek
                                            li.nav-item.filter-main__nav-item
                                                a.nav-link.filter-main__nav-link(id="pohlavie-tab" data-toggle="tab" href="#pohlavie" role="tab" aria-controls="pohlavie" aria-selected="false") Pohlavie
                                            li.nav-item.filter-main__nav-item
                                                a.nav-link.filter-main__nav-link(id="veľkosti-tab" data-toggle="tab" href="#veľkosti" role="tab" aria-controls="veľkosti" aria-selected="false") Veľkosti
                                            li.nav-item.filter-main__nav-item
                                                a.nav-link.filter-main__nav-link(id="vyrobcovia-tab" data-toggle="tab" href="#vyrobcovia" role="tab" aria-controls="vyrobcovia" aria-selected="false") Výrobcovia
                                
                                        .tab-content
                                            
                                            .tab-pane.fade.show.active(id="stitek" role="tabpanel" aria-labelledby="stitek-tab")
                                                .filter-main__single-content
                                                    label.form-check__label.filter-main__label
                                                        input.form-check__input(type="checkbox" name="filter-novinka") 
                                                        | Novinka
                                                        span.form-check__box.checkbox
                                                    label.form-check__label.filter-main__label
                                                        input.form-check__input(type="checkbox" name="filter-akce") 
                                                        | Akční zboží
                                                        span.form-check__box.checkbox
                                                    label.form-check__label.filter-main__label
                                                        input.form-check__input(type="checkbox" name="filter-doporucene") 
                                                        | Doporučujeme
                                                        span.form-check__box.checkbox

                                            .tab-pane.fade(id="pohlavie" role="tabpanel" aria-labelledby="pohlavie-tab")
                                                .filter-main__single-content
                                                    label.form-check__label.filter-main__label
                                                        input.form-check__input(type="checkbox" name="filter-chlapci") 
                                                        | Chlapci
                                                        span.form-check__box.checkbox
                                                    label.form-check__label.filter-main__label
                                                        input.form-check__input(type="checkbox" name="filter-divky") 
                                                        | Divky
                                                        span.form-check__box.checkbox

                                            .tab-pane.fade(id="veľkosti" role="tabpanel" aria-labelledby="veľkosti-tab")
                                                .filter-main__single-content
                                                    label.form-check__label.filter-main__label
                                                        input.form-check__input(type="checkbox" name="filter-velikost-1") 
                                                        | 1
                                                        span.form-check__box.checkbox
                                                    label.form-check__label.filter-main__label
                                                        input.form-check__input(type="checkbox" name="filter-velikost-2") 
                                                        | 2
                                                        span.form-check__box.checkbox
                                                    label.form-check__label.filter-main__label
                                                        input.form-check__input(type="checkbox" name="filter-velikost-3") 
                                                        | 3
                                                        span.form-check__box.checkbox
                                                    label.form-check__label.filter-main__label
                                                        input.form-check__input(type="checkbox" name="filter-velikost-4") 
                                                        | 4
                                                        span.form-check__box.checkbox     

                                            .tab-pane.fade(id="vyrobcovia" role="tabpanel" aria-labelledby="vyrobcovia-tab")
                                                .filter-main__single-content
                                                    label.form-check__label.filter-main__label
                                                        input.form-check__input(type="checkbox" name="filter-vyrobce-1") 
                                                        | D.D. Step
                                                        span.form-check__box.checkbox
                                                    label.form-check__label.filter-main__label
                                                        input.form-check__input(type="checkbox" name="filter-vyrobce-2") 
                                                        | Pathick 
                                                        span.form-check__box.checkbox
                                                    label.form-check__label.filter-main__label
                                                        input.form-check__input(type="checkbox" name="filter-vyrobce-3") 
                                                        | Tap Tapi 
                                                        span.form-check__box.checkbox
                                                    label.form-check__label.filter-main__label
                                                        input.form-check__input(type="checkbox" name="filter-vyrobce-4") 
                                                        | Capiki
                                                        span.form-check__box.checkbox   

                                        
                                    .filter-main__type
                                        ul.nav.nav-tabs.filter-main__nav-tabs(role="tablist")
                                            li.nav-item.filter-main__nav-item
                                                a.nav-link.filter-main__nav-link.active.show(id="druh_oblecenia-tab" data-toggle="tab" href="#druh_oblecenia" role="tab" aria-controls="stitek" aria-selected="false") Druh oblečenia
                                        .tab-content
                                            .tab-pane.fade.show.active(id="druh_oblecenia" role="tabpanel" aria-labelledby="druh_oblecenia-tab")
                                                .filter-main__single-content
                                                    label.form-check__label.filter-main__label
                                                        input.form-check__input(type="checkbox" name="filter-druh-1") 
                                                        | Tričká
                                                        span.form-check__box.checkbox
                                                    label.form-check__label.filter-main__label
                                                        input.form-check__input(type="checkbox" name="filter-druh-2") 
                                                        | Spodné prádlo 
                                                        span.form-check__box.checkbox
                                                    label.form-check__label.filter-main__label
                                                        input.form-check__input(type="checkbox" name="filter-druh-3") 
                                                        | Nohavice
                                                        span.form-check__box.checkbox
                                                    label.form-check__label.filter-main__label
                                                        input.form-check__input(type="checkbox" name="filter-druh-4") 
                                                        | Legíny
                                                        span.form-check__box.checkbox   


                                    button.btn.filter-main__button(type="submit") Filtrovat produkty

                        .filter-badges
                            .filter-badges__single 
                                p.filter-badges__title Advance Acoustic 
                                .filter-badges__remove-wrap
                                    span.cross-icon.white.filter-badges__remove 

                        include _pagination.pug

                        .filter-sort
                            ul.nav.nav-tabs
                                li.nav-item
                                    a.nav-link.active(onclick="#") Nejoblíbenější
                                li.nav-item
                                    a.nav-link(onclick="#") Nejlevnější
                                li.nav-item
                                    a.nav-link(onclick="#") Nejdražší
                                li.nav-item
                                    a.nav-link(onclick="#") Jméno A-Z


                        .product-grid.product-grid--3
                            include _single-product-cell.pug
                            include _single-product-cell.pug
                            include _single-product-cell.pug

                            include _single-product-cell.pug
                            include _single-product-cell.pug
                            include _single-product-cell.pug

                            include _single-product-cell.pug
                            include _single-product-cell.pug
                            include _single-product-cell.pug

                        include _pagination.pug

        include _news-section.pug

        include _footer.pug

        include _js-include.pug