doctype html
include _variables.pug  
html(lang=lang)
    head 
        meta(charset="utf-8")
        meta(content="IE=edge" http-equiv="X-UA-Compatible")
        meta(content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport")
        title #{title}
        meta(content="index,follow,snippet,archive" name="robots")
        meta(content=metaDescription name="description")
        meta(content=metaKeywords lang="cs" name="keywords")
        meta(content=metaAuthor name="author")

        link(rel="canonical" href=metaURL)
        meta(property="og:locale" content="cs_CZ")
        meta(property="og:type" content="website")
        meta(property="og:title" content=title)
        meta(property="og:description" content=metaDescription)
        meta(property="og:url" content=metaURL)
        meta(property="og:site_name" content=metaSitename)
        meta(name="twitter:card" content="summary")
        meta(name="twitter:site" content=metaTwitterName)
        meta(name="twitter:title" content=title)
        meta(name="twitter:description" content=metaDescription)
        meta(name="twitter:image" content=metaTwitterImg)
        include _css-include.pug  
    body
        include _nav.pug
        section.page-heading.post__image-container
            .container
                h1.page-heading__title Užívateľský účet
            img.lazy.post__featured-image(src=URLbase+"img/lazy/lazy-user-thumb-large.jpg" data-src=URLbase+"img/user-thumb-large.jpg" alt="#" title="#")

        include _breadcrumb.pug
        main
            .container
                .row.form-row-wide
                    .col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6.register-form-col
                        form(method="post" action="" class="register-form" name="register_form" id="register_form")
                            h3 Úprava osobných údajov
                            a.register-form-toggler(data-toggle="collapse" href="#register-collapse" aria-expanded="false" aria-controls="register-collapse") Úprava osobných údajov #[span.register-form-toggler__icon]
                            .collapse.register-form-collapse(id="register-collapse")
                                .form-group
                                    label(for="register_form_name") Meno
                                    input.form-control(type="text" name="register_form_name" id="register_form_name" autocomplete="given-name" required)

                                .form-group
                                    label(for="register_form_surname") Priezvisko
                                    input.form-control(type="text" name="register_form_surname" id="register_form_surname" autocomplete="family-name" required)

                                .form-group
                                    label(for="register_form_email") Emailová adresa
                                    input.form-control(type="email" name="register_form_email" id="register_form_email" autocomplete="email" required)

                                .form-group
                                    label(for="register_form_password") Heslo
                                    span(id="show_password_toggler" data-toggle="tooltip" data-placement="top" title="Zobraziť/Skryť heslo") #[span.fa.fa-eye]
                                    input.form-control(type="password" name="register_form_password" id="register_form_password" autocomplete="off")

                                .form-group
                                    label(for="register_form_tel") Telefón
                                    input.form-control(type="tel" name="register_form_tel" id="register_form_tel" autocomplete="tel" required)

                                .form-group
                                    label(for="register_form_address") Ulica
                                    input.form-control(type="text" name="register_form_address" id="register_form_address" autocomplete="street-address" required)

                                .form-group
                                    label(for="register_form_descriptive") Číslo popisné
                                    input.form-control(type="text" name="register_form_descriptive" id="register_form_descriptive" autocomplete="descriptive-address" required)

                                .form-group
                                    label(for="register_form_locality") Město
                                    input.form-control(type="text" name="register_form_locality" id="register_form_locality" autocomplete="address-level2" required)

                                .form-group
                                    label(for="register_form_postal_code") PSČ
                                    input.form-control(type="text" name="register_form_postal_code" id="register_form_postal_code" autocomplete="postal-code"  required)

                                .form-group
                                    label(for="register_form_country") Stát
                                    select.form-control(type="text" name="register_form_country" id="register_form_country" required)
                                        option(value="sk") Slovensko
                                        option(value="cz") Česká republika

                                .register-form-info-collapse-wrap   
                                    .form-group
                                        .form-check
                                            label.form-check__label.billing-address-toggler
                                                input.form-check__input(type="checkbox" name="register_form_billing_toggler") 
                                                | Vyplniť fakturačnú adresu
                                                span.form-check__box.checkbox

                                    .register-form-billing__wrap 
                                        .form-group
                                            label(for="register_form_billing_name") Meno a priezvisko #[span.label__muted (nepovinné)]
                                            input.form-control(type="text" name="register_form_billing_name" id="register_form_billing_name" autocomplete="name")

                                        .form-group
                                            label(for="register_form_billing_company") Názov firmy
                                            input.form-control(type="text" name="register_form_billing_company" id="register_form_billing_company" autocomplete="org")

                                        .form-group
                                            label(for="register_form_billing_ico") IČO
                                            input.form-control(type="text" name="register_form_billing_ico" id="register_form_billing_ico" autocomplete="ico")

                                        .form-group
                                            label(for="register_form_billing_dic") DIČ #[span.label__muted (nepovinné)]
                                            input.form-control(type="text" name="register_form_billing_dic" id="register_form_billing_dic" autocomplete="dic")

                                        .form-group
                                            label(for="register_form_billing_address") Ulica
                                            input.form-control(type="text" name="register_form_billing_address" id="register_form_billing_address" autocomplete="street-address")

                                        .form-group
                                            label(for="register_form_billing_descriptive") Číslo popisné
                                            input.form-control(type="text" name="register_form_billing_descriptive" id="register_form_billing_descriptive" autocomplete="descriptive-address")

                                        .form-group
                                            label(for="register_form_billing_locality") Město
                                            input.form-control(type="text" name="register_form_billing_locality" id="register_form_billing_locality" autocomplete="address-level2")

                                        .form-group
                                            label(for="register_form_billing_postal_code") PSČ
                                            input.form-control(type="text" name="register_form_billing_postal_code" id="register_form_billing_postal_code" autocomplete="postal-code")

                                        .form-group
                                            label(for="register_form_billing_postal_country") Stát
                                            select.form-control(type="text" name="register_form_billing_postal_country" id="register_form_billing_postal_country")
                                                option(value="sk") Slovensko
                                                option(value="cz") Česká republika

                                    .form-group
                                        .form-check
                                            label.form-check__label.shipping-address-toggler
                                                input.form-check__input(type="checkbox" name="register_form_shipping_toggler")
                                                | Mám inú dodaciu adresu
                                                span.form-check__box.checkbox 

                                    .register-form-shipping__wrap 
                                        .form-group
                                            label(for="register_form_shipping_name") Meno a priezvisko
                                            input.form-control(type="text" name="register_form_shipping_name" id="register_form_shipping_name" autocomplete="name")

                                        .form-group
                                            label(for="register_form_shipping_company") Názov firmy #[span.label__muted (nepovinné)]
                                            input.form-control(type="text" name="register_form_shipping_company" id="register_form_shipping_company"  autocomplete="org")

                                        .form-group
                                            label(for="register_form_shipping_address") Ulica
                                            input.form-control(type="text" name="register_form_shipping_address" id="register_form_shipping_address" autocomplete="street-address")

                                        .form-group
                                            label(for="register_form_shipping_descriptive") Číslo popisné
                                            input.form-control(type="text" name="register_form_shipping_descriptive" id="register_form_shipping_descriptive" autocomplete="descriptive-address")

                                        .form-group
                                            label(for="register_form_shipping_locality") Město
                                            input.form-control(type="text" name="register_form_shipping_locality" id="register_form_shipping_locality" autocomplete="address-level2")

                                        .form-group
                                            label(for="register_form_shipping_postal_code") PSČ
                                            input.form-control(type="text" name="register_form_shipping_postal_code" id="register_form_shipping_postal_code" autocomplete="postal-code")
                                        
                                        .form-group
                                            label(for="register_form_shipping_country") Stát
                                            select.form-control(type="text" name="register_form_shipping_country" id="register_form_shipping_country")
                                                option(value="sk") Slovensko
                                                option(value="cz") Česká republika

                                .form-group
                                    button.form-control.btn(type="submit" name="register_form_submit" id="register_form_submit") Potvrdiť úpravy

                    .col-12.col-sm-12.col-md-12.col-lg-6.col-xl-6.login-form-col
                        .order-history
                            form(method="post" action="" class="login-form" name="login_form")
                                h3 História objednávok
                                a.login-form-toggler(data-toggle="collapse" href="#order-history-collapse" aria-expanded="false" aria-controls="order-history-collapse") História objednávok #[span.register-form-toggler__icon]
                                .collapse.login-form-collapse(id="order-history-collapse")
                                    .order-history-single-wrap
                                        .order-history-single.head  
                                            .order-history-single-col
                                                p ID objednávky
                                            .order-history-single-col
                                                p Datum
                                            .order-history-single-col
                                                p Zoznam položiek
                                            .order-history-single-col
                                                p Cena
                                            .order-history-single-col
                                                p Stav

                                        .order-history-single  
                                            .order-history-single-col
                                                p 16859
                                            .order-history-single-col
                                                p 8. 2. 2018
                                            .order-history-single-col
                                                a(href="#") Lorem ipsum
                                                a(href="#") Lorem ipsum
                                                a(href="#") Lorem ipsum
                                                a(href="#") Lorem ipsum
                                            .order-history-single-col
                                                p.price 23.94 €
                                            .order-history-single-col
                                                p.status Uzavreté

                                        .order-history-single  
                                            .order-history-single-col
                                                p 16859
                                            .order-history-single-col
                                                p 8. 2. 2018
                                            .order-history-single-col
                                                a(href="#") Lorem ipsum
                                            .order-history-single-col
                                                p.price 23.94 €
                                            .order-history-single-col
                                                p.status Uzavreté

                                        .order-history-single  
                                            .order-history-single-col
                                                p 16859
                                            .order-history-single-col
                                                p 8. 2. 2018
                                            .order-history-single-col
                                                a(href="#") Lorem ipsum
                                                a(href="#") Lorem ipsum
                                            .order-history-single-col
                                                p.price 23.94 €
                                            .order-history-single-col
                                                p.status Uzavreté


        include _footer.pug

        include _js-include.pug

        script.
            $(function() {
                $("form[name='register_form']").validate({
                    errorElement: 'span',
                    rules: {
                        register_form_name:{
                            required: true
                        },
                        register_form_surname:{
                            required: true
                        },
                        register_form_email: {
                            required: true,
                            email: true
                        },
                        register_form_password: {
                            required: true,
                            minlength: 5
                        },
                        register_form_tel: {
                            required: true,
                            minlength: 9
                        },
                        register_form_address: {
                            required: true
                        },
                        register_form_postal_code: {
                            required: true,
                            minlength: 5,
                            maxlength: 6
                        },

                        register_form_billing_name: {
                            required: false,
                            minlength: 1
                        },
                        register_form_billing_company: {
                            required: true,
                            minlength: 1
                        },
                        register_form_billing_ico: {
                            required: true,
                            minlength: 8,
                            maxlength: 8
                        },
                        register_form_billing_dic: {
                            minlength: 1,
                            maxlength: 99
                        },
                        register_form_billing_postal_code: {
                            required: true,
                            minlength: 5,
                            maxlength: 6
                        },

                        register_form_shipping_name: {
                            required: true,
                            minlength: 1
                        },
                        register_form_shipping_company: {
                            required: false,
                            minlength: 1
                        },
                        register_form_shipping_postal_code: {
                            required: true,
                            minlength: 5,
                            maxlength: 6
                        },
                    },
                    messages: {
                        //udaje zaklad
                        register_form_name: "Prosím zadajte svoje meno",
                        register_form_surname: "Prosím zadajte svoje priezvisko",
                        register_form_username: "Prosím vyberte si používateľské meno",
                        register_form_email: "Prosím zadajte platnú emailovú adresu",
                        register_form_password: {
                            required: "Prosím zadajte heslo", 
                            minlength: "Prosím zadajte heslo aspoň 5 znakov dlhé"
                        },
                        register_form_tel: {
                            required: "Prosím zadajte svoje telefónne číslo", 
                            minlength: "Telefónne číslo je neplatné, prosím zadajte aspoň 9 znakov"
                        },
                        register_form_address: "Prosím zadajte svoju adresu",
                        register_form_descriptive: "Prosím zadajte číslo popisné",
                        register_form_locality: "Prosím zadajte mesto",
                        register_form_postal_code: {
                            required: "Prosím zadajte Poštové smerovacie číslo", 
                            minlength: "Nesprávne zadané PSČ, zadajte ho prosím v tvare s medzerou (napr. 102 00) alebo bez (napr. 10200)", 
                            maxlength: "Nesprávne zadané PSČ, zadajte ho prosím v tvare s medzerou (napr. 102 00) alebo bez (napr. 10200)"
                        },

                        //fakturacni
                        register_form_billing_company: {
                            required: "Prosím zadajte meno firmy", 
                        },
                        register_form_billing_ico: { 
                            required: "Prosím zadajte Osobné identifikačné číslo",
                            minlength: "Prosím zadajte IČO v správnom tvare - 8 číslic (napr. 25596641)",
                            maxlength: "Prosím zadajte IČO v správnom tvare - 8 číslic (napr. 25596641)"
                        },
                        register_form_billing_dic: { 
                            minlength: "Prosím zadajte DIČ v správnom tvare - minimálne 8 číslic (napr. CZ12345678)",
                            maxlength: "Prosím zadajte DIČ v správnom tvare - maximálne 10 číslic (napr. CZ1234567890)"
                        },
                        register_form_billing_address: "Prosím zadajte svoju adresu",
                        register_form_billing_descriptive: "Prosím zadajte číslo popisné",
                        register_form_billing_locality: "Prosím zadajte mesto",
                        register_form_billing_postal_code: {
                            required: "Prosím zadajte Poštové smerovacie číslo", 
                            minlength: "Nesprávne zadané PSČ, zadajte ho prosím v tvare s medzerou (napr. 102 00) alebo bez (napr. 10200)", 
                            maxlength: "Nesprávne zadané PSČ, zadajte ho prosím v tvare s medzerou (napr. 102 00) alebo bez (napr. 10200)"
                        },

                        //dodaci
                        register_form_shipping_name: {
                            required: "Prosím zadajte celé meno a priezvisko",
                        },
                        register_form_shipping_address: "Prosím zadajte svoju adresu",
                        register_form_shipping_descriptive: "Prosím zadajte číslo popisné",
                        register_form_shipping_locality: "Prosím zadajte mesto",
                        register_form_shipping_postal_code: {
                            required: "Prosím zadajte Poštové smerovacie číslo", 
                            minlength: "Nesprávne zadané PSČ, zadajte ho prosím v tvare s medzerou (napr. 102 00) alebo bez (napr. 10200)", 
                            maxlength: "Nesprávne zadané PSČ, zadajte ho prosím v tvare s medzerou (napr. 102 00) alebo bez (napr. 10200)"
                        },


                    },
                    submitHandler: function(form) {
                    form.submit();
                    }
                });
            });
            jQuery.extend(jQuery.validator.messages, {
                required: "Toto pole je povinné"
            });